@model MVC.Consumir.Models.PaginaInicialViewModel

@{ ViewData["Title"] = "Home Page"; }


<div class="text-center">
    <h3>Desenvolvimento com Serviços WCF e Microsoft Azure</h3>
    <br>
</div>
<div class="text-center">
    <h4>ASSESSMENT</h4>
    <br>
    <h4>Elvis Lopes</h4>
    <br>
</div>
<div class="text-center">
    <h5>Paises: @Model.QuantidadeDePaises</h5>
</div>
<div class="text-center">
    <h5>Estados: @Model.QuantidadeDeEstados</h5>
</div>
<div class="text-center">
    <h5>Amigos: @Model.QuantidadeDePessoas</h5>
</div>